@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
        @apply bg-gray-800 text-white;
    }

    body {
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif", serif;
        font-weight: 300;
    }
}

.container {
    @apply mx-auto px-4;
    max-width: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1180px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1400px;
    }
}
